# Grafana Datasource Configuration
# Automatically provisions Prometheus as a datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      # Enable Prometheus alerting
      manageAlerts: false
      prometheusType: Prometheus
      prometheusVersion: 2.45.0
